table {
    border : 0;
    text-align: center;
    table-layout: fixed;
    border-collapse: collapse;
    width: 100%;
}
.itemName{
    color: #134CE7;
    font-family: "Verdana", serif;
    line-height: 15px;
    font-weight: bolder;
}
.itemPic{
    max-height: 150px;
}
