<app-home-bar></app-home-bar>

<div class="con">
  <h1>Click on the bin you want to know about for details</h1>
  <br>
  <br>

  <table>
    <tr>
      <td><img src="../../../assets/img/blacknew.png" class="pic" alt="blacknew.png" routerLink='/black'></td>
      <td><img src="../../../assets/img/brownnew.png" class="pic" alt="brownnew.png" routerLink='/brown'></td>
      <td><img src="../../../assets/img/bluenew.png" class="pic" alt="bluenew.png" routerLink='/blue'></td>
      <td><img src="../../../assets/img/greennew.png" class="pic" alt="greenenw.png" routerLink='/green'></td>
    </tr>
  </table>
</div>

