<br>
<br>

<div class="head">
  <h1>Knowledge of Trash Classification</h1>
</div>

<br>
<br>
<table>
  <tr>
    <td><img src="../../../assets/img/black_.png" class="pic" alt="black_png" routerLink='/black'></td>
    <td><img src="../../../assets/img/brown_.png" class="pic" alt="brown_png" routerLink='/brown'></td>
  </tr>
  <tr>
    <td><img src="../../../assets/img/blue_.png" class="pic" alt="blue_png" routerLink='/blue'></td>
    <td><img src="../../../assets/img/green_.png" class="pic" alt="green_png" routerLink='/green'></td>
  </tr>
</table>
<app-bar></app-bar>



