<html>
<body>
<div class="navbar">
  <a href = "#home" class = "logo">Waste Game</a>
  <ul class ="nav">
    <li><a href="#home">Home</a></li>
    <li><a href="#about">About</a></li>
    <li><a href="#portfolio">Portfolio</a></li>
    <li><a href="#services">Services</a></li>
    <li><a href="#contact">Contact</a></li>
  </ul>
</div>
<div class="banner-area" id="home">
<app-start></app-start>
</div>
<div class="about-area" id="about">
  <div class="text-part">
    <h1>About Area</h1>
    <p>If you have a great idea for a startup, but don't really know where to go with it,
      never fear!
      The Foundership Scheme may be just what you're looking for. It's a 4-week programme to help you flesh out your
      idea AND provide £1000 in start-up funding! The programme runs 28 June to 23 July, and applications
      open 1 May.</p>
  </div>
</div>
<div class="portfolio-area" id="portfolio">
  <div class="text-part">
    <h1>Portfolio Area</h1>
    <p>If you have a great idea for a startup, but don't really know where to go with it,
      never fear!
      The Foundership Scheme may be just what you're looking for. It's a 4-week programme to help you flesh out your
      idea AND provide £1000 in start-up funding! The programme runs 28 June to 23 July, and applications
      open 1 May.</p>
  </div>
</div>
<div class="service-area" id="services">
  <div class="text-part">
    <h1>Services Area</h1>
    <p>If you have a great idea for a startup, but don't really know where to go with it,
      never fear!
      The Foundership Scheme may be just what you're looking for. It's a 4-week programme to help you flesh out your
      idea AND provide £1000 in start-up funding! The programme runs 28 June to 23 July, and applications
      open 1 May.</p>
  </div>
</div>
<div class="contact-area" id="contact">
  <div class="text-part">
    <h1>Contact Area</h1>
    <p>If you have a great idea for a startup, but don't really know where to go with it,
      never fear!
      The Foundership Scheme may be just what you're looking for. It's a 4-week programme to help you flesh out your
      idea AND provide £1000 in start-up funding! The programme runs 28 June to 23 July, and applications
      open 1 May.</p>
  </div>
</div>
</body>
</html>
