<!--<div class="box">
    <div class="rubbish_box">
        <img [src]= "img1" alt="box 1">
        <br>
        <div class="message">Category1</div>
    </div>
    <div class="rubbish_box">
        <img [src]= "img2" alt="box 1">
        <br>
        <div class="message">Category2</div>
    </div>
    <div class="rubbish_box">
        <img [src]= "img3" alt="box 1">
        <br>
        <div class="message">Category3</div>

    </div>
    <div class="rubbish_box">
        <img [src]= "img4" alt="box 1">
        <br>
        <div class="message">Category4</div>
    </div>
</div>-->

<table>

    <tr>
        <td><img [src]= "img1" class = "rubbish_box" alt="point_picture" ></td>
        <td><img [src]= "img2" class = "rubbish_box" alt="point_picture" ></td>
        <td><img [src]= "img3" class = "rubbish_box" alt="point_picture" ></td>
        <td><img [src]= "img4" class = "rubbish_box" alt="point_picture" ></td>
    </tr>
    <tr>
        <td><div class="message">Category1</div></td>
        <td><div class="message">Category2</div></td>
        <td><div class="message">Category3</div></td>
        <td><div class="message">Category4</div></td>
    </tr>

</table>

