body {
  background-color: gold;
}

.heading {
  padding: 1%;
  width: fit-content;
  background-color: gold;
  color: black;
  width: fit-content;
  margin: 0 auto;
  text-align: center;
}

.title {
  border-color: black;
  border-style: solid;
  width: 1200px;
  margin: 0 auto;
}

.content {
  border-color: black;
  border-style: solid;
  width: 1200px;
  margin: 0 auto;

}

table {
  width: 1200px;
  background-color: white;
  text-align: center;
  font-size: large;
}

.container{
  text-align: center;
}

