<app-home-bar></app-home-bar>
<br>
<br>
<div class="container">
  <div class="content">
    <h1>FOR BLACK RECYCLE BOX</h1>
    <br>
    <p>batteries: including household rechargeable, they must be in a small clear untied bag</p>
    <p>clothes and textiles: put clean, dry textiles in carrier bags, not black bin liners. We can only take usable or wearable textiles, not rags. Label any coloured carrier bags. We do not collect wet textiles</p>
    <p>engine oil: in a sealed container</p>
    <p>glasses: spectacles and cases</p>
    <p>glass bottles and jars: rinsed out, the lids for these go with your cans in the green recycling box</p>
    <p>newspapers, magazines, catalogues, junk mail, yellow pages and telephone directories</p>
    <p>paper and envelopes: not wrapping paper or brown paper, brown paper goes with your cardboard in your blue recycling bag</p>
    <p> shredded paper: put in an untied carrier bag, paper bag or envelope</p>
    <p>shoes: shoes must be wearable, paired, tied together, dry and in a carrier bag. Label any coloured carrier bags</p>
  </div>
</div>
