<!DOCTYPE html>
<html lang="en">
<body>
    <div class="container">
        <ul>
            <li><img src="../../../assets/img/trashReq1.png" alt="trashReq1" ></li>
            <li><img src="../../../assets/img/trashReq2.png" alt="trashReq2" ></li>
            <li><img src="../../../assets/img/trashReq3.png" alt="trashReq3" ></li>
            <li><img src="../../../assets/img/trashReq4.png" alt="trashReq4" ></li>
        </ul>
        <ol>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ol>
    </div>
</body>
</html>
