<app-home-bar></app-home-bar>

<div class="con">
  <h1>Click on the bin you want to know about for details</h1>
  <br>
  <br>
  <br>
  <br>

  <table>
    <tr>
      <td><img src="../../../assets/img/black_.png" class="pic" alt="black_png" routerLink='/black'></td>
      <td><img src="../../../assets/img/brown_.png" class="pic" alt="brown_png" routerLink='/brown'></td>
      <td><img src="../../../assets/img/blue_.png" class="pic" alt="blue_png" routerLink='/blue'></td>
      <td><img src="../../../assets/img/green_.png" class="pic" alt="green_png" routerLink='/green'></td>
    </tr>
  </table>
</div>

