<app-home-bar></app-home-bar>
<div class="contact-area" id="contact">
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>

  <section class="contact">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <h1>GET IN TOUCH</h1>
          <form>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <input type="text" class="form-control gt" name="name" id="name" placeholder="Name"/>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <input type="email" class="form-control gt" name="email" id="email" placeholder="Email" />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="from-group">
                  <textarea class="form-control gt" rows="2" name="message" id="message" placeholder="Message..."></textarea>
                </div>
              </div>
            </div>
          </form>
          <div class="form-group"  align="right">
            <div class="col-sm-offset-2 col-sm-10">
              <a href="#" type="submit" class="btn btn-tobais btn-send-2">SEND</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <h1>CONTACT INFO</h1>
          <p class="contact-desc">
            We are group 14 from the University of Bristol in Computer Science.
          </p>
          <p><Strong>Github: </Strong> https://github.com/LIAM-LIN/COMSM1401-DESK12</p>

        </div>
      </div>
    </div>
    <br>
    <br>
    <br>

  </section>
